<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".RememberMe"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="Unlock English"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Application"
        tools:targetApi="31">


        <activity
            android:name=".SplashActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".DescriptionActivity"
            android:exported="true" />

        <activity
            android:name=".ExamActivity"
            android:exported="true" />
        <activity
            android:name=".ThemesActivity"
            android:exported="true" />

        <activity
            android:name=".BottomNavigationActivity"
            android:exported="true" />
        <activity
            android:name="com.example.app.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LogInActivity"
            android:exported="true"
            android:label="LogInActivity" />
        <activity
            android:name=".MenuActivity"
            android:exported="true"
            android:label="MenuActivity" />
        <activity
            android:name="com.example.dicti.DictTechActivity"
            android:exported="true"
            android:label="dict_tech" />
        <activity
            android:name="com.example.dicti.DictMainActivity"
            android:exported="true"
            android:label="dict_main" />
        <activity
            android:name=".DictChildActivity"
            android:exported="true"
            android:label="dict_child" />
        <activity
            android:name=".DictMusicActivity"
            android:exported="true"
            android:label="dict_music" />
        <activity
            android:name=".AccountMainActivity"
            android:exported="true"

            android:label="acc_page"
            />

        <activity
            android:name=".MistakesActivity"
            android:exported="true"
            android:label="mistakes" />


        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>